
.my-pagination ::ng-deep .ngx-pagination .current {
  background: #25ab44;
}

.hoverrr:hover{
  background: #25ab44!important;
  border: #25ab44;


}

.buttonsty{
  background: #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding-top: 3px;
  transition: .2s all;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  margin: 0px 1px;
}
